.status {
    flex: 1 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0.75rem 0.25rem;
    padding:0.75rem;
}
.status p {
    margin: 0.25rem;
}

.status .scan {
    font-size: x-large;
    margin:0.25rem;
}